<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: bodyInclude (~{::#layout})}">

<body>
  <div id="layout">
    <div class="text-center ">
      <h1>Uh oh!</h1>
      <p><strong>Error 404</strong>: This page doesn't exist! → <a href="/">Return home?</a><br><br></p>
    </div>
    <div class="tenor-gif-embed float-center" data-postid="8925016" data-share-method="host" data-width="50%" data-aspect-ratio="1.3333333333333333"><a href="https://tenor.com/view/error-gif-8925016">Error GIF</a> from <a href="https://tenor.com/search/error-gifs">Error GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </div>
</body>
</html>